<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <context:component-scan base-package="com.bisystem" />
 

	<beans:bean id="hibernate4AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="annotatedClasses">
			<beans:list>
				<beans:value>com.bisystem.model.User</beans:value>
				<beans:value>com.bisystem.model.UserProfile</beans:value>
			</beans:list>
		</beans:property>
		<beans:property name="hibernateProperties">
			<beans:props>
				<beans:prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect
				</beans:prop>
				<beans:prop key="hibernate.show_sql">true</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>
		
	<beans:bean id="userDao" class="com.bisystem.dao.UserDaoImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<beans:bean id="userService" class="com.bisystem.service.UserServiceImpl">
		<beans:property name="userDao" ref="userDao"></beans:property>
	</beans:bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<beans:bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	
	
<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<beans:property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<beans:property name="url"
			value="jdbc:oracle:thin:@localhost:1521:XE" />
		<beans:property name="username" value="marek" />
		<beans:property name="password" value="beno" />
	</beans:bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="dataSource"/>
   </bean>
	

 <beans:bean id="loginDao" class="com.bisystem.dao.LoginDaoImpl"></beans:bean>
 <beans:bean id="loginService" class="com.bisystem.service.LoginServiceImpl">
 	<beans:property name="loginDao" ref="loginDao"></beans:property>
 </beans:bean>
 
 <beans:bean id="canvasjsChartDao" class="com.bisystem.dao.CanvasjsChartDaoImpl">
	</beans:bean>
	<beans:bean id="canvasjsChartService" class="com.bisystem.service.CanvasjsChartServiceImpl">
		<beans:property name="canvasjsChartDao" ref="canvasjsChartDao"></beans:property>
	</beans:bean>
	
	<beans:bean id="salesDao" class="com.bisystem.dao.SalesDaoImpl">
		<beans:property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</beans:bean>
	<beans:bean id="salesService" class="com.bisystem.service.SalesServiceImpl">
		<beans:property name="salesDao" ref="salesDao"></beans:property>
	</beans:bean>
 
 
</beans:beans>
