@charset "ISO-8859-1";

#select-roles {
 
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%; 
  font-size: 16px;
  padding: 2px 20px 2px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 

}

#addInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%; 
  font-size: 16px;
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
  height:6px;
  
}





#myInput {
  background-image: url('searchicon.png'); 
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%; 
  font-size: 16px;
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
  
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

#addButton{

  background-color: #FFEB00;
  color: black;
 
  margin: 8px 0;
  border: none;
  cursor: pointer;
  padding: 0px 20px;
  font-size: 10px;

}
#sButton{

  background-color: #6D7E22;
  color: black;
 
  margin: 8px 0;
  border: none;
  cursor: pointer;
  padding: 0px 20px;
  font-size: 10px;

}
#addButton:hover {
  opacity: 0.8;
}
#sButton:hover {
  opacity: 0.8;
}